.container {
	margin: 0 auto;
}

#header {
	
}

#remaining {
	line-height: 20px;
}

#question {

}

#choose {

}

#choose_a {

}

#choose_b {

}

#choose_c {

}
#choose_d {

}

#startbtn {
	
}

.alert {
    width: 50%;
    margin: auto;
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
     z-index: 1000;
    
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 500px) {
.btn-lg, .btn-group-lg>.btn {
	 width:100%; 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }